@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animateSlideInLeft {
    opacity: 0;
    animation: slideInLeft 5s ease-out 90ms forwards;
}

.logo-animado {
  animation: slideInLeft 2.2s cubic-bezier(0.23, 1, 0.32, 1) both;
} 

